{extend name="admin/base"}
{block name="meta"}

<title>新增文章 - 资讯管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
{/block}

{block name="body"}
<article class="page-container">
	<form enctype="multipart/form-dada" action="{:url('AdminColumn/articles_add')}" method="post" class="form form-horizontal" id="form-article-add" >
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="article_title">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="column_id" class="select">
					<option value="0">全部栏目</option>
					{volist name="arr" id="vo"}
					<option value="{$vo.col_id}">|{php} echo str_repeat('—',$vo['lavaer']*1); {/php}{$vo.col_user}</option>
					{/volist}
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="" class="select">
					<option value="0">全部类型</option>
					<option value="1">帮助说明</option>
					<option value="2">新闻资讯</option>
				</select>
				</span> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">seo标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="article_title1">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">seo关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="article_key">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">seo描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="article_desc" cols="" rows=""  class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>

			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章来源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="中港星" id="" name="article_sour">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否置顶：</label>
			<div class="formControls col-xs-8 col-sm-9">
				不置顶：<input type="radio" name="article_sort[]" value="0" >
				置顶： <input type="radio" name="article_sort[]"  value="1" >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">使用独立模版：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="checkbox" id="checkbox-moban">
					<label for="checkbox-moban">&nbsp;</label>
				</div>
				<button onClick="mobanxuanze()" class="btn btn-default radius ml-10">选择模版</button>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"></div>
					<div id="filePicker"><input type="file" name="article_img" id="article_img" value="选择图片"></div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea style="height:500px;" name="article_text"  id="editor_id" class="textarea"  ></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>

</article>

{/block}



{block name="fotter"}

<script charset="utf-8" src="__CATA__/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="__CATA__/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="__CATA__/kindeditor/plugins/code/prettify.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_id');

        var editor1 = K.create('textarea[name="article_text"]', {
            cssPath : '../plugins/code/prettify.css',
            uploadJson : '../php/upload_json.php',
            fileManagerJson : '../php/file_manager_json.php',
            allowFileManager : true,
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>

{/block}