{extend name="index/base"}
{block name="meta"}
<title>香港公司年审-审计</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
{/block}

{block name="body"}

<div class="container-fluid aud_doby ">
    <div class="row">
        <img style="width:100%;" src="/uploads/images/aud_banner.jpg" alt="">
    </div>
    <div class="container text-center">

        <div class="row aud_ones">
            <h3>在港公司不审计的后果</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">
                        <i class="iconfont icon-qianbao"></i>
                    </div>
                    <p>一次超期罚款1200</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">
                        <i class="iconfont icon-qianbao"></i>
                    </div>
                    <p>二次超期罚款1200</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">
                        <i class="iconfont icon-wenanshezhi"></i>
                    </div>
                    <p>收到发院传票</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">
                        <i class="iconfont icon-dongjie"></i>
                    </div>
                    <p>银行账户强制扣税款/冻结</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">
                        <i class="iconfont icon-zhuxiao"></i>
                    </div>
                    <p>公司被强制注销</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">
                        <i class="iconfont icon-jinzhi"></i>
                    </div>
                    <p>董事列入黑名单最高监禁六个月</p>
                </div>
            </div>

        </div>

        <div class="row aud_toos">
            <h3>我们为您定制解决方案</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="audit-backp"> 做账审计 </p>
                    <p class="audit-text">提供在港公司正常营业状态下的理账、审计、报税一条龙服务，由会计师出具核数审计报告</p>
                </div>
                <a href="">我要咨询做账审计及费用</a>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="audit-backp"> 不活跃审计 </p>
                    <p class="audit-text">香港《新公司条例》、《税务条例》及会计师公会规定：没有经营的香港公司需进行不活跃审计(核数)后报税,就此类公司，我司可提供不活跃审计服务，费用低</p>
                </div>
                <a href="">我要咨询做账审计及费用</a>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="audit-backp"> 公司冻结 </p>
                    <p class="audit-text">公司暂时经营，可向政府申请将公司运营状态变更为不活动状态。不活动期间不需要审计。在冻结期间，我司继续提供秘书服务，可随时协助恢复状态</p>
                </div>
                <a href="">我要咨询做账审计及费用</a>
            </div>
        </div>

        <div class="row aud_threes">
            <h3>中港星服务优势
            </h3>
            <div class="col-md-3">
                <div class="thumbnail">
                    <i class="iconfont icon-mexzz06"></i>
                    <h5>高资质</h5>
                    <hr>
                    <p>自营会计师事务所，香港专业CPA审计师团队</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <i class="iconfont icon-zhuanye"></i>
                    <h5>专业性</h5>
                    <hr>
                    <p>14年专业审计服务，可免费提供公司运营和税务风险规避建议</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <i class="iconfont icon-guifan"></i>
                    <h5>规范性</h5>
                    <hr>
                    <p>3层审核，审计流程严谨规范，提供正规的审计报告，7年以上审计档案管理</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <i class="iconfont icon-suo"></i>
                    <h5>保密性</h5>
                    <hr>
                    <p>团队服务，稳定性高，信息保密</p>
                </div>
            </div>
        </div>

        <div class="row aud_fours">
            <h3>服务流程</h3>
            <div class="col-md-12">
                <img src="/uploads/images/aud_img1.jpg" alt="">
            </div>
            <div class="col-md-2">
                <h5 class="audfour-texta">专业的税务<br>咨询建议</h5>

            </div>
            <div class="col-md-2">
                <h5 class="audfour-textb"> 银行月结单收集</h5>
            </div>
            <div class="col-md-2">
                <h5 class="audfour-textc">合作报价</h5>
            </div>
            <div class="col-md-2">
                <h5 class="audfour-textd">理账核数</h5>
            </div>
            <div class="col-md-2">
                <h5 class="audfour-texte">出具审计报告</h5>
            </div>
            <div class="col-md-2">
                <h5 class="audfour-textf">税务申报</h5>
            </div>
        </div>

        <div class="row aud_sixs">
            <h3>CRS/收到银行调查文件该如何处理?</h3>

            <div class="col-md-12">
                <p>受crs税务的影响，很多香港公司都有收到汇丰、恒生银行下发的商业调查信件（电子版/纸质版），一般银行的调查文件都是下发到网银上或是邮箱上，如果收到调查信件，需按以下三个步骤处理：</p>
                <div class="row auds-back">
                    <div class="col-md-4 auds-left">
                        <div class="thumbnail">
                            <i class="iconfont icon-wenanshezhi"></i>
                            <hr>
                            <h5>商业资料填写登记</h5>
                        </div>
                    </div>
                    <div class="col-md-4 auds-center">
                        <div class="thumbnail">
                            <i class="iconfont icon-anquan"></i>
                            <hr>
                            <h5>公司资料认证</h5>
                        </div>
                    </div>
                    <div class="col-md-4 auds-right">
                        <div class="thumbnail">
                            <i class="iconfont icon-shenji"></i>
                            <hr>
                            <h5>递交审计报告</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row aud_sevens">
            <h3>常见问答</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">1</div>
                    <h5>香港注册公司每年需缴纳的税项有哪些？</h5>
                    <hr>
                    <p>
                        答：香港注册公司每年只须缴付利得税，此税项是根据纳税调整后的税前利润的 16.5%来计算。如公司没有利润，也就不需要缴交利得税。
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">2</div>
                    <h5>香港注册公司利润可否弥补前年度亏损？</h5>
                    <hr>
                    <p>
                        答：以前年度的亏损，可予结转并可以用以后年度的利润进行弥补，亏损结转期 限不受限制。
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">3</div>
                    <h5>香港公司有利润，是否需要缴纳利得税？</h5>
                    <hr>
                    <p>
                        答：香港公司有利润，是否要缴税，主要看三个基本规定，一、纳税人是否在香港经营业务或提供服务。二、纳税人是否从该行业或提供的服务中获得利润。三、有关利润是否从香港产生或来自于香港。
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">4</div>
                    <h5>在香港进出口商品需支付关税吗？</h5>
                    <hr>
                    <p>
                        答：除了烟、酒及汽油外，一般进出口商品是不需要支付关税的。但进出口商品 必须报关。
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">5</div>
                    <h5>香港公司是否有营业范围的限制？</h5>
                    <hr>
                    <p>
                        没有限制。
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="aud-radius">6</div>
                    <h5>香港公司的报税表申报期限是怎么规定的？</h5>
                    <hr>
                    <p>
                        答：如果结账日期为12月底的，可于下一年的8月15日前申报;如果结账日期为1月 1日至3月31日的，可获得按比较延期至同年11月15日，如果账上是亏损的， 可申请进一步延期至下一年的2月4日。
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>

{/block}






