<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>首页</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__JS__/bootstrap.min.js">
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css" /><!--自己的样式-->

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container content-index">
        <a class="nav navbar-brand" href=""><img src="http://www.zgxmall.com/uploadfiles/1808101424_38852.png" alt=""></a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="">主页</a></li>
            <li><a href="">香港公司服务</a></li>
            <li><a href="">海外公司注册</a></li>
            <li><a href="">海外商标</a></li>
            <li><a href="">海外专利·版权</a></li>
            <li><a href="">海外财税·审计</a></li>
            <li><a href="">银行开户</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </div>
</nav>


{block name="body"}{/block}



</body>
</html>

