<div class="row text-center reg_sex">
    <h3>14年经验，专注海内外企业服务</h3>
    <div class="col-md-4">
        <div class="thumbnail">
            <h5>行业沉淀</h5>
            <hr>
            <img class="regsex_imga" src="/uploads/images/regi_img5.jpg" alt="">
            <img class="regsex_imgb" src="http://www.gxbrand.com/scrimg/scrimg12.jpg" alt="">
            <p>14年积累，服务超10万家企业的<br>
                行业经验，具备深厚的渠道资源积累</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h5>服务特色</h5>
            <hr>
            <img class="regsex_imga" src="/uploads/images/regi_img6.jpg" alt="">
            <img class="regsex_imgb" src="http://www.gxbrand.com/scrimg/scrimg12.jpg" alt="">
            <p>会计师事务所<br>
                知识产权事务所<br>
                律师事务所</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h5>正规秘书服务</h5>
            <hr>
            <img class="regsex_imga" src="/uploads/images/regi_img7.jpg" alt="">
            <img class="regsex_imgb" src="http://www.gxbrand.com/scrimg/scrimg12.jpg" alt="">
            <p>一对一专属客服团队提供<br>
                秘书服务，定期通知年审和做账审计</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h5>专业团队</h5>
            <hr>
            <img class="regsex_imga" src="/uploads/images/regi_img8.jpg" alt="">
            <img class="regsex_imgb" src="http://www.gxbrand.com/scrimg/scrimg12.jpg" alt="">
            <p>200人专业服务团队<br>
                让您尊享专业、规范的专业服务</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h5>权威保证</h5>
            <hr>
            <img class="regsex_imga" src="/uploads/images/regi_img9.jpg" alt="">
            <img class="regsex_imgb" src="http://www.gxbrand.com/scrimg/scrimg12.jpg" alt="">
            <p>专业的服务均由专业的<br>
                事务所为您服务，海外资深<br>
                执业会计师和律师顾问层层把关</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h5>一站式平台</h5>
            <hr>
            <img class="regsex_imga" src="/uploads/images/regi_img10.jpg" alt="">
            <img class="regsex_imgb" src="http://www.gxbrand.com/scrimg/scrimg12.jpg" alt="">
            <p>在中港星商城，您足不出户即可布局<br>
                全球。还可一次性满足海外公司、<br>
                全球商标专利申请等企业服务需求</p>
        </div>
    </div>

</div>