{extend name="index/base" /}
{block name="meta"}
<title>海外商标</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
{/block}

{block name="body"}

<div class="container-fluid fortrade text-center">
    <div class="row">
        <img style="width:100%;" src="/uploads/images/fort_banner.jpg" alt="">
    </div>
    <div class="container">
        <div class="row fort_ones">
            <h3>取得海外知识产权，最高可获资助50万</h3>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="/uploads/images/fort_img1.png" alt="">
                    <h5>欧盟、非洲<br>
                        知识产权</h5>
                    <p>资助 <span>10000</span>元/件 </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="/uploads/images/fort_img2.png" alt="">
                    <h5>单一海外国家<br>
                        取得知识产权</h5>
                    <p>资助 <span>5000</span>元/件 </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="/uploads/images/fort_img3.png" alt="">
                    <h5>在台湾、澳门<br>
                        取得知识产权</h5>
                    <p>资助 <span>3000</span>元/件 </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="/uploads/images/fort_img4.png" alt="">
                    <h5>在香港<br>
                        取得知识产权</h5>
                    <p>资助 <span>1000</span>元/件 </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="/uploads/images/fort_img5.png" alt="">
                    <h5>取得马德里商标<br>
                        <span>（每指定一个国家、
                        地区，最多20个地区）</span></h5>
                    <p>资助 <span>2000</span>元/件 </p>
                </div>
            </div>
        </div>

        <div class="row fort_toos">
            <h3>热门国家地区/推荐</h3>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>美国</h5>
                    <img src="/uploads/images/fort_img6.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>英国</h5>
                    <img src="/uploads/images/fort_img7.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>德国</h5>
                    <img src="/uploads/images/fort_img8.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>香港</h5>
                    <img src="/uploads/images/fort_img9.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>马德里</h5>
                    <img src="/uploads/images/fort_img10.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>欧盟</h5>
                    <img src="/uploads/images/fort_img11.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>法国</h5>
                    <img src="/uploads/images/fort_img12.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>澳大利亚</h5>
                    <img src="/uploads/images/fort_img13.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>意大利</h5>
                    <img src="/uploads/images/fort_img14.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>日本</h5>
                    <img src="/uploads/images/fort_img15.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>韩国</h5>
                    <img src="/uploads/images/fort_img16.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" >
                    <h5>澳大利亚</h5>
                    <img src="/uploads/images/fort_img17.jpg" alt="">
                </div>
            </div>


        </div>
        
        <div class="row ">
            <div class="col-md-12">
                <img style="width:100%;" src="/uploads/images/fort_img18.jpg" alt="">
            </div>

        </div>

        <div class="row fort_threes">
            <div class="">
                <h3>注册海外商标的价值</h3>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <h5>抢占国际市场</h5>
                        <i class="iconfont icon-bao1"></i>
                        <hr>
                        <p>
                            快速抢占国际市场，享有在销售国使用该商标的专用权，阻止别的该商标的进入该国市场
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <h5>入驻海外电商</h5>
                        <i class="iconfont icon-quanqiu"></i>
                        <hr>
                        <p>
                            入驻海外亚马逊、速卖通，ebay、wish必不可少的条件
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <h5>塑造国际品牌</h5>
                        <i class="iconfont icon-bao1"></i>
                        <hr>
                        <p>
                            国外商标在国内使用，提高品牌溢价、形象和竞争力
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <h5>保护自我品牌</h5>
                        <i class="iconfont icon-san"></i>
                        <hr>
                        <p>
                            防止品牌被对手恶意盗用或抢注，有效维护自身合法
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fort_fours">
            <h3>服务优势对比</h3>
            <div class="col-md-12">
                <img  src="/uploads/images/fort_img19.jpg" alt="">
            </div>
        </div>

        <div class="row fort_sixs">
            <h3>成功案例展示</h3>
            <div class="col-md-12">
                <div class="scrolll" style="margin:0 auto;width:1050px;overflow: hidden;">
                    <!-- "prev page" link -->
                    <i class="iconfont icon-zuo-copy prevv"></i>
                    <div class="boxx">
                        <div class="scroll_listt">
                            <ul>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img20.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img21.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img22.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img23.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img24.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img25.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img26.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="/uploads/images/fort_img27.jpg" alt="">
                                        <p>美国商标注册</p>
                                    </div>
                                </li>



                            </ul>
                        </div>
                    </div>
                    <!-- "next page" link -->
                    <i class="iconfont icon-zuo nextt"></i>
                </div>
            </div>
        </div>

        {include file="index/base_the"}
        
    </div>
</div>


{/block}



