<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>首页</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/lib/html5.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/respond.min.js"></script>
    <![endif]-->
    <link href="__CSS__/H-ui.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css" /><!--自己的样式-->
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('.pngfix,.icon');</script>
    <![endif]-->

</head>
<body>

我是一个首页
<link rel="stylesheet" href="__PUBLIC__/lib/jquery/jquery.min.js">
<script type="text/javascript" src="__JS__/h-ui.js"></script>
</body>
</html>
