{extend name="/index/base" /}
{block name="body"}

<div>
    <img src="__IMG__/hwbanner.jpg" alt="" style="width:100%;">
</div>
<div class="container-fluid">

    <div class="container content-index">

        <div class="row layout_header text-center ">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="header-p">服务领域介绍</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <div class="row text-center content-home con_one ">
            <div class="col-md-2">
                <div class="thumbnail">
                    <p class="cont-top">香港公司服务</p>
                    <p class="cont-txt">
                        中港星旗下香港政府授牌秘书公司提供公司注册、银行开户、审计、SCR等服务
                    </p>
                    <a target="_blank" href="">了解更多</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <p class="cont-top">海外公司注册</p>
                    <p class="cont-txt">
                        全球98个主要国家均可注册，成功案例众多
                    </p>
                    <a target="_blank" href="">了解更多</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <p class="cont-top">海外知识产权</p>
                    <p class="cont-txt">
                        商标、专利、版权的申请、保护、维权等配套服务
                    </p>
                    <a target="_blank" href="">了解更多</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <p class="cont-top">海外公司财税·审计</p>
                    <p class="cont-txt">
                        国际知名会计师事务所，熟知各国财税审计政策，专业团队帮助您企业快速发展
                    </p>
                    <a target="_blank" href="">了解更多</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <p class="cont-top">银行开户</p>
                    <p class="cont-txt">
                        长期与众多香港及海外国际银行战略合作，为客户的资金出海提供渠道
                    </p>
                    <a target="_blank" href="">了解更多</a>
                </div>
            </div>

        </div>

        <div class="row layout_header text-center ">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="header-p">关于我们</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <div class="row con_too">
            <div class="col-md-6">
                <div class="thumbnail">
                    <p class="cont-top">企业新闻网</p>
                    <p class="page_header"></p>
                    <a target="_blank" href=""><p class="cont-txt"> 你知道什么是商标驳回复审吗？ <span>2018-10-20</span> </p></a>
                    <a target="_blank" href=""><p class="cont-txt"> 你知道什么是商标驳回复审吗？ <span>2018-10-20</span> </p></a>
                    <a target="_blank" href=""><p class="cont-txt"> 你知道什么是商标驳回复审吗？ <span>2018-10-20</span> </p></a>
                    <a target="_blank" href=""><p class="cont-txt"> 你知道什么是商标驳回复审吗？ <span>2018-10-20</span> </p></a>
                    <a target="_blank" href=""><p class="cont-txt"> 你知道什么是商标驳回复审吗？ <span>2018-10-20</span> </p></a>
                    <p class="cont-footer"><a target="_blank" href="" >MORE></a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <p class="cont-top">服务4化</p>
                    <p class="page_header"></p>
                    <img src="__IMG__/hw_img11.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="row layout_header text-center ">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="header-p">战略合作伙伴</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <div class="row con_three ">
            <section id="features" class="blue">
                <div class="content">

                    <div class="slider multiple-items">
                        <div> <img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""> </div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcece7de492c.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcece6599fda.jpg" alt=""></div>
                        <div><img src="http://www.zgxjt.net/uploads/201810/5bcece55bb912.jpg" alt=""></div>
                    </div>
                </div>
            </section>
        </div>


        <div class="row layout_header text-center ">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="header-p">服务案例</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <div class="row con_four text-center">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="__IMG__/hw_img1.jpg" alt="">
                    <p>海外公司营业执照</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="__IMG__/hw_img2.jpg" alt="">
                    <p>海外公司营业执照</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="__IMG__/hw_img3.jpg" alt="">
                    <p>海外公司营业执照</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="__IMG__/hw_img4.jpg" alt="">
                    <p>海外公司营业执照</p>
                </div>
            </div>


        </div>

        <div class="row layout_header text-center ">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="header-p">专家团队风采</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <div class="row con_six">
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="cont-top">任职职位： <span class="cont-color">资深审计专家</span> </p>
                    <p class="cont-top">从业年限： <span class="cont-span">１３年</span> </p>
                    <p class="cont-top">擅长领域： <span class="cont-span">海外公司做账审计</span> </p>
                    <p class="cont-topa"> 税务规划 </p>
                    <p class="cont-top">我是  <span class="cont-color">肖武文</span> </p>
                    <img src="__IMG__/hw_img5.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="cont-top">任职职位： <span class="cont-color">审计专家</span> </p>
                    <p class="cont-top">从业年限： <span class="cont-span">7年</span> </p>
                    <p class="cont-top">擅长领域： <span class="cont-span">海外公司年审•审计</span> </p>
                    <p class="cont-topa"> &nbsp; </p>
                    <p class="cont-top">我是  <span class="cont-color">陈欣</span> </p>
                    <img src="__IMG__/hw_img6.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="cont-top">任职职位： <span class="cont-color">高级专利代理人</span> </p>
                    <p class="cont-top">从业年限： <span class="cont-span">9年</span> </p>
                    <p class="cont-top">擅长领域： <span class="cont-span">发明专利、版权</span> </p>
                    <p class="cont-topa"> 国际发明专利 </p>
                    <p class="cont-top">我是  <span class="cont-color">刘早立</span> </p>
                    <img src="__IMG__/hw_img7.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="cont-top">任职职位： <span class="cont-color">资深专利代理人</span> </p>
                    <p class="cont-top">从业年限： <span class="cont-span">10年</span> </p>
                    <p class="cont-top">擅长领域： <span class="cont-span">海内外专利申请</span> </p>
                    <p class="cont-topa"> 保护及维权 </p>
                    <p class="cont-top">我是  <span class="cont-color">侯艺</span> </p>
                    <img src="__IMG__/hw_img8.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="cont-top">任职职位： <span class="cont-color">企业运营专家</span> </p>
                    <p class="cont-top">从业年限： <span class="cont-span">8年</span> </p>
                    <p class="cont-top">擅长领域： <span class="cont-span">海外公司注册</span> </p>
                    <p class="cont-topa"> 商标保护、专利保护 </p>
                    <p class="cont-top">我是  <span class="cont-color">王文娟</span> </p>
                    <img src="__IMG__/hw_img9.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="cont-top">任职职位： <span class="cont-color">企业运营专家</span> </p>
                    <p class="cont-top">从业年限： <span class="cont-span">8年</span> </p>
                    <p class="cont-top">擅长领域： <span class="cont-span">海外公司注册、银行开户</span> </p>
                    <p class="cont-topa"> &nbsp; </p>
                    <p class="cont-top">我是  <span class="cont-color">熊丹</span> </p>
                    <img src="__IMG__/hw_img10.jpg" alt="">
                </div>
            </div>

        </div>


    </div>

</div>



<link rel="stylesheet" href="__CSS__/monokai.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/slick/slick.css"/>
<script src="__JS__/modernizr.min.js" type="text/javascript"></script>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="__JS__/highlight.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/slick/slick.js"></script>
<script type="text/javascript" src="__JS__/scripts.js"></script>
{/block}




