<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>首页</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__JS__/bootstrap.min.js">
    <link rel="stylesheet" href="__CSS__/style.css"  /><!--自己的样式-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_952711_28dgi2c2u9x.css">
</head>
<body>

<!--<div class="container-fluid">-->
<!--<div class="container hw_header-top">-->
<!--<div class="col-md-6 header-left">-->
<!--<img src="http://www.zgxjt.net/uploads/201706/594b37ebb8164.jpg" alt="">-->
<!--</div>-->
<!--<div class="col-md-6 header-right">-->
<!--<div class="col-md-1">-->
<!--<i class="iconfont icon-dianhua"></i>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<span class="hd_top">24小时客服热线</span><br>-->
<!--<span class="hd_but">0755-82219538</span>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->

<nav class="navbar navbar-default navbar-static-top">
    <div class="container content-index">
        <div class="col-md-3">
            <a class="nav navbar-brand" href=""><img src="http://www.zgxjt.net/uploads/201706/594b37ebb8164.jpg" alt=""></a>
        </div>

        <div class="col-md-9 header-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">网站首页</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">服务领域</a></li>
                <li><a href="">在线商城</a></li>
                <li><a href="">在线申请</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>


{block name="body"}{/block}



</body>
</html>

