{extend  name="index/base"}

{block name="meta"}
<title>海外公司</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">

{/block}

{block name="body"}

<div class="container-fluid">
    <div class="row">
        <img style="width:100%;" src="/uploads/images/regi_banner.jpg" alt="">
    </div>
    <div class="container">
        <div class="row" style="margin-top:55px;">
            <div class="col-md-12">
                <div class="form-group col-md-5">
                    <div class="input-group">
                        <labal class="input-group-addon">公司名称</labal>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <div class="input-group">
                        <labal class="input-group-addon">联系电话</labal>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <button class="btn btn-danger">查询是否可注册</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row reg_one text-center">
            <h3 >注册海外公司的优势</h3>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="reg_cenradio">
                        <i class="iconfont icon-suo"></i>
                    </div>
                    <h5>保密性高</h5>
                    <p class="">法律法规健全，高度保密性，贸易过程中保护客户信息</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="reg_cenradio">
                        <i class="iconfont icon-shui"></i>
                    </div>
                    <h5>节税</h5>
                    <p class="">离岸岛国税收政策优惠，适合有大量资金出入的您</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="reg_cenradio">
                        <i class="iconfont icon-jiage-copy"></i>
                    </div>
                    <h5>外汇交易自由</h5>
                    <p class="">无外汇管制，自由操作外汇</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="reg_cenradio">
                        <i class="iconfont icon-pinpai"></i>
                    </div>
                    <h5>品牌形象</h5>
                    <p class="">打造国际化产品形象，扩大市场占有率，提高企业竞争力，方便海外上市</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="reg_cenradio">
                        <i class="iconfont icon-yunying"></i>
                    </div>
                    <h5>运营方便</h5>
                    <p class="">方便国际贸易
                        利于跨境电商
                        融资相对容易</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reg_too">
    <div class="container">
        <div class="row text-center" >
            <h3 >境外公司注册推荐</h3>
            <div class="col-md-12">
                <div class="scroll" style="margin:0 auto;width:100%;overflow: hidden;">
                    <!-- "prev page" link -->
                    <i class="iconfont icon-zuo-copy prev"></i>
                    <div class="box">
                        <div class="scroll_list">
                            <ul>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <!-- "next page" link -->
                    <i class="iconfont icon-zuo next"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reg_three">
    <div class="container">
        <div class="row text-center">
            <h3>海外公司选址</h3>
            <div class="col-md-3">
                <div class="thumbnail">
                    <h5>政治经济稳定性</h5>
                    <i class="iconfont icon-fangzi"></i>
                    <hr>
                    <p>
                        需了解该地最新政治和社会背景，对注册地进行详细的考量
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <h5>税收标准</h5>
                    <i class="iconfont icon-shui"></i>
                    <hr>
                    <p>
                        是否能够达到企业合法避税的目的，一般选税制简单税率低的注册地
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <h5>政府办事效率</h5>
                    <i class="iconfont icon-xiaolv"></i>
                    <hr>
                    <p>
                        作为海外公司注册地，必须要有着高效的办事效率和明晰的政策条例
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <h5>政府办事效率</h5>
                    <i class="iconfont icon-xiaolv"></i>
                    <hr>
                    <p>
                        作为海外公司注册地，必须要有着高效的办事效率和明晰的政策条例
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reg_four">
    <div class="container">
        <div class="row ">
            <h3 class="text-center">配套服务</h3>
            <div class="col-md-4">
                <div class="thumbnail regfour_backa" style="background: url('/uploads/images/regi_img1.jpg')no-repeat 10px;">
                    <div class="col-md-7 col-md-offset-1" >
                        <h5>公司年审报税</h5>
                        <hr>
                        <p>
                            海外公司成立后，每年需要定期进行年审，部分公司也需要按照政府要求，按时审计和报税
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail regfour_backb" style="background: url('/uploads/images/regi_img2.jpg')no-repeat 10px;">
                    <div class="col-md-8 col-md-offset-1" >
                        <h5>海外银行开户</h5>
                        <hr>
                        <p>
                            随着国际贸易越来越火热，如果这时您有一个海外银行账户，可以开通网上银行功能，更重要的是海外银行账户的转款和收款的金额不受限制，让您的跨国业务更得心应手
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail regfour_backc" style="background: url('/uploads/images/regi_img1.jpg')no-repeat 10px;">
                    <div class="col-md-7 col-md-offset-1" >
                        <h5>VAT税号申请</h5>
                        <hr>
                        <p>
                            随着跨境电商平台的规范化，入驻国际电商平台（Ebay,亚马逊、沃尔玛）要求海外公司申请VAT税号
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid reg_sex">
    <div class="container">
        {include file="index/base_the" /}
    </div>
</div>

<div class="container-fluid reg_fing">
    <div class="container">
        <div class="row">
            <h3 >服务案例</h3>
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="col-md-4">
                        <img src="/uploads/images/regi_img11.jpg" alt="">
                    </div>
                    <div class="col-md-8">
                        <h5>案例一</h5>
                        <p>
                            刘总，做物流行业，在深圳有一家规模较大的国际物流公司，想开拓海外业务，且日后想向香港银行贷款融资发展公司业务。中港星顾问经过详细了解，推荐了香港公司注册及英属维尔京群岛（BVI）公司。
                            海外公司经过8年的发展，不仅业务量提升较快，而且还多次获得了香港银行贷款审批，企业日渐发展壮大，以后还计划在开曼注册公司，准备通过海外上市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="col-md-4">
                        <img src="/uploads/images/regi_img12.jpg" alt="">
                    </div>
                    <div class="col-md-8">
                        <h5>案例一</h5>
                        <p>
                            刘总，做物流行业，在深圳有一家规模较大的国际物流公司，想开拓海外业务，且日后想向香港银行贷款融资发展公司业务。中港星顾问经过详细了解，推荐了香港公司注册及英属维尔京群岛（BVI）公司。
                            海外公司经过8年的发展，不仅业务量提升较快，而且还多次获得了香港银行贷款审批，企业日渐发展壮大，以后还计划在开曼注册公司，准备通过海外上市。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}