{extend name="index/base"}
{block name="meta"}
<title>海外公司年审</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
{/block}

{block name="body"}

<div class="container-fluid review_body text-center">
    <div class="row rev_banner">
        <img src="/uploads/images/rev_banner.jpg" alt="">
    </div>
    <div class="container">

        <div class="row rev_ones ">
            <h3>香港公司不年审会有什么后果？</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="rev_radio">
                        <i class="iconfont icon-qianbao"></i>
                    </div>
                    <h5 class="">账户冻结</h5>
                    <hr>
                    <p>
                        银行将会被冻结，无法收付款，无法取出余额，以后再无法开户
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="rev_radio">
                        <i class="iconfont icon-qian"></i>
                    </div>
                    <h5 class="">政府罚款</h5>
                    <hr>
                    <p>
                        不年审，政府罚款或起诉，还有法院下发传票。点击了解政府罚款额度
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="rev_radio">
                        <i class="iconfont icon-hua"></i>
                    </div>
                    <h5 class="">信用受损</h5>
                    <hr>
                    <p>
                        可能会导致股东董事被记录不良信用，影响出入境和航班转机等
                    </p>
                </div>
            </div>
        </div>

        <div class="row rev_toos">
            <h3>香港公司年审免费增值服务</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="rev-text">薪俸税免费申报</p>
                    <p class="rev_teicon"> <i class="iconfont icon-ceng"></i> </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="rev-text">首年合作减免法定地址费用</p>
                    <p class="rev_teicon"> <i class="iconfont icon-qian1"></i> </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <p class="rev-text">包含免费办理
                        地址秘书的变更备案</p>
                    <p class="rev_teicon"> <i class="iconfont icon-anquan"></i> </p>
                </div>
            </div>
        </div>

        <div class="row rev_threes ">
            <h3>针对年审问题，定制解决方案</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="rev_radio">
                        <span>方案一</span>
                    </div>
                    <h5 class="">年审</h5>
                    <hr>
                    <p>
                        包含年审所需条件及资料（地址、商业登记证更换、周年申报、秘书地址、商务秘书等），一次性收费，提供1年免费香港企业服务
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="rev_radio">
                        <span>方案二</span>
                    </div>
                    <h5 class="">注销</h5>
                    <hr>
                    <p>
                        企业计划不再经营，可选择注销方式，我们会为您检查所有前后需要注意事项，提供全套服务助您完成公司注销
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="rev_radio">
                        <span>方案三</span>
                    </div>
                    <h5 class="">转让</h5>
                    <hr>
                    <p>
                        如果企业年审及审计等各项数据正常，可以为您定制转让资源衔接，做好转让服务工作
                    </p>
                </div>
            </div>
        </div>

        <div class="row rev_fours">
            <h3>其它海外公司年审</h3>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">美国公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">BVI公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">英国公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">安圭拉公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">塞舌尔公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">法国公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">新加坡公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">开曼公司年审</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">德国公司年审</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row rev_topimg">
            <div class="col-md-12">
                <img style="width:100%;" src="/uploads/images/rev_img2.jpg" alt="">
            </div>
        </div>

        <div class="row rev_six" >
            <h3>选择服务公司，以下几点值得关注</h3>
            <div class="col-md-12">
                <img src="/uploads/images/rev_img1.jpg" alt="">
            </div>
        </div>

        <div class="row rev_fours">
            <h3>更多香港服务</h3>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">做账审计</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">不活跃做账审计</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">香港公司电子水牌</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">公司名牌展示</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                        <span class="rev-tespan">SCR建册备案</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">香港商标专利</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">名称变更</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="">
                    <span class="rev-tespan">董事股东变更</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">公司冻结</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">香港公司注销</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">分行年审</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">分行申请</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">香港条码申请</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">社团申请</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">国际书号申请</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <span class="rev-tespan">公司公证、见证</span>
                </div>
            </div>
            <div class="col-md-12">
                <a class="rev_padda" href=""> 运营中遇到任何问题，只需一个电话，剩下的由我们来搞定！ </a>
            </div>

        </div>

        <div class="row rev_seven">
            <h3>案例展示</h3>
            <div class="col-md-6">
                <div class="thumbnail">
                    <p class="revsev-text"> 未作年审，留下不良记录 </p>
                    <p class="resvn-center">
                        上海李小姐于2013年注册了一家香港公司，同时持有自创服装品牌商标，由于事物繁忙，遗忘了办理年审，导致超期3个月，不仅产生政府罚款1170元，更是留下了不良记录，品牌使用也受到了一定的影响。不按时年审将会产生政府罚款，并留下不良记录。
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <p class="revsev-text"> 延迟年审，银行账户被关闭 </p>
                    <p class="resvn-center">
                        北京周先生的香港公司拥有汇丰银行账户，一直运作很好，为他的生意起到推动作用，可就在接到新的订单是，发现今年因延时办理年审，账户已遭到银行关闭，这不但需要重新申请开户，新的订单无法处理更是令他深深焦急。按时年审，避免银行账户受到影响。
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{/block}