{extend name="index/base"}
{block name="meta"}
<title>香港公司服务</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
{/block}

{block name="body"}

<div class="container-fluid serv_doby">
    <div class="row">
        <img style="width:100%;" src="/uploads/images/serv_banner.jpg" alt="">
    </div>
    <div class="container">

        <div class="row serv_ones text-center">
            <div class="col-md-4">
                <div class="thumbnail seon-backa">
                    <i class="iconfont icon-gongsi1"></i>
                    <p>香港公司注册</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail seon-backb">
                    <i class="iconfont icon-shuaqiaqiapianyinhangqia"></i>
                    <p>香港银行开户<br><small>(不通过，全额退款)</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail seon-backc">
                    <i class="iconfont icon-shenji"></i>
                    <p>香港公司注册</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail seon-backd">
                    <i class="iconfont icon-gongsi"></i>
                    <p> 香港公司年审 </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail seon-backe">
                    <i class="iconfont icon-SCR"></i>
                    <p> 香港公司年审 </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail seon-backf">
                    <i class="iconfont icon-shangbiao"></i>
                    <p> 香港公司年审 </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail seon-backg">
                    <i class="iconfont icon-jisuan"></i>
                    <p> 香港公司年审 </p>
                </div>
            </div>
        </div>

        <div class="row serv_toos text-center">
            <h3>赠送五大免费增值服务</h3>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="serv-radius">
                        <i class="iconfont icon-dingwei "></i>
                    </div>
                    <h5>商务中心注册地址</h5>
                    <hr>
                    <p>注册地址位于香港核心商业区甲级商业大厦</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="serv-radius">
                        <i class="iconfont icon-yonghulingdai "></i>
                    </div>
                    <h5>香港法定秘书</h5>
                    <hr>
                    <p>我司成立的公司，首年免费担任公司法定秘书</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="serv-radius">
                        <i class="iconfont icon-bao "></i>
                    </div>
                    <h5>商务秘书服务</h5>
                    <hr>
                    <p>代接收信函，传真，处理政府及商业信件</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="serv-radius">
                        <i class="iconfont icon-ceng "></i>
                    </div>
                    <h5>薪俸税零申报</h5>
                    <hr>
                    <p>每年免费提供薪俸税申报</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="serv-radius">
                        <i class="iconfont icon-ceng "></i>
                    </div>
                    <h5>会计师咨询服务</h5>
                    <hr>
                    <p>提供专业的税务、法律、做账、审计、报税咨询</p>
                </div>
            </div>
        </div>

        {include file="index/base_the" /}

        <div class="row text-center serv_threes">
            <h3>人无我有，人有我优</h3>
            <div class="col-md-12">
                <img src="/uploads/images/ser_img1.jpg" alt="">
            </div>
        </div>

        <div class="row text-center serv_fours ">
            <h3>战略合作伙伴</h3>
            <div class="col-md-12">
                <div class="scroll" style="margin:0 auto;width:1150px;overflow: hidden;">
                    <!-- "prev page" link -->
                    <i class="iconfont icon-zuo-copy prev"></i>
                    <div class="box">
                        <div class="scroll_list">
                            <ul>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfcf9331d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecfb95373f.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf9e6f1fb.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf811a55d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf5a6e19d.jpg" alt=""></li>
                                <li><img src="http://www.zgxjt.net/uploads/201810/5bcecf394252e.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <!-- "next page" link -->
                    <i class="iconfont icon-zuo next"></i>

                </div>
            </div>
        </div>

    </div>
</div>

{/block}